<div class="container"   >
    <div class="row">
        <div class="col-8 col-12-medium">
            <article class="box">
                <img src="/images/glosario.jpg" alt="Images" class="img-header">
                <header>
                    <h1>Glosario</h1>
                </header>
                <p align="justify"><strong>BTTS: </strong> (Both Teams to Score)  Ambos equipos anotan</p>
                <p align="justify"><strong>1H - 2H: </strong> (1 Half, 2 Half)  Primera o segunda mitad</p>
                <p align="justify"><strong>BTTS: </strong> (Both Teams to Score)  Ambos equipos anotan</p>
                <p align="justify"><strong>BTTS: </strong> (Both Teams to Score)  Ambos equipos anotan</p>
                <p align="justify"><strong>BTTS: </strong> (Both Teams to Score)  Ambos equipos anotan</p>
                <p align="justify"><strong>BTTS: </strong> (Both Teams to Score)  Ambos equipos anotan</p>
                <p align="justify"><strong>BTTS: </strong> (Both Teams to Score)  Ambos equipos anotan</p>
                <p align="justify"><strong>BTTS: </strong> (Both Teams to Score)  Ambos equipos anotan</p>    
            </article>
        </div>
        <div class="col-4 col-12-medium">

        </div>
    </div>
</div>